.form {
    width: fit-content;
    position: relative;
    margin: 60px auto 0 auto;
}

.inputWrapper {
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 40px;
    width: 300px;
}

.formSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.paperWrapper {
    margin-top: 20px;
    max-width: 800px;
}
