.form {
    width: fit-content;
    position: relative;
    margin: 60px auto 0 auto;
}

.inputWrapper {
    margin-right: 40px;
    margin-left: 40px;
    width: 350px;
}

.formSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.paperWrapper {
    padding: 20px;
    margin-top: 20px;
    max-width: 800px;
}

.question {
    position: relative;
}

.question img {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -75px;
    right: -220px;
    z-index: 10;
    display: none;
}

.question:hover img {
    display: block;
}
